<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.manhui.gsl.jbqgsl.dao.SysLoggerMapper">

	<insert id="save" parameterType="com.manhui.gsl.jbqgsl.model.SysLoggerModel">
		insert into sys_logger(id,createTime,type,userId,userType,userName,logger_content,
			operating_obj_id,operating_describe)
		values (#{id},#{createTime},#{type},#{userId},#{userType},#{userName},#{logger_content},
			#{operating_obj_id},#{operating_describe})
	</insert>

</mapper>