.fa.write{color: #FFFFFF;}
.fa.green{color: #1ABC9C;}
.fa.cyan{color: #2ECC71;}
.fa.blue{color: #3498DB;}
.fa.purple{color: #9B59B6;}
.fa.black{color: #34495E;}
.fa.yellow{color: #F1C40F;}
.fa.orange{color: #E67E22;}
.fa.red{color: #E74C3C;}
.fa.gray{color: #FFFFFF;}